@font-face {
  font-family: "DBZ"; /* Remplacez par le nom que vous souhaitez utiliser */
  src: url("../assets/Saiyan-Sans.ttf") format("truetype"); /* Remplacez par le chemin de votre fichier de police */
}

body {
  padding: 0;
  margin: 0;
  background-image: url("../assets/fond.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-size: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -2%;
}
#unity-container {
  position: absolute;
}
#unity-container.unity-desktop {
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  border: solid black 3px;
}
#unity-container.unity-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
}
#unity-canvas {
  background: #231f20;
}
.unity-mobile #unity-canvas {
  width: 100%;
  height: 100%;
}
#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#unity-logo {
  width: 154px;
  height: 130px;
  background: url("unity-logo-dark.png") no-repeat center;
}
#unity-progress-bar-empty {
  width: 141px;
  height: 18px;
  margin-top: 10px;
  margin-left: 6.5px;
  background: url("progress-bar-empty-dark.png") no-repeat center;
}
#unity-progress-bar-full {
  width: 0%;
  height: 18px;
  margin-top: 10px;
  background: url("progress-bar-full-dark.png") no-repeat center;
}
#unity-footer {
  position: relative;
  margin-top: -41px;
}
.unity-mobile #unity-footer {
  display: none;
}
#unity-webgl-logo {
  float: left;
  width: 204px;
  height: 38px;
  background: url("webgl-logo.png") no-repeat center;
  display: none;
}
#unity-build-title {
  float: right;
  margin-right: 10px;
  line-height: 38px;
  font-family: arial;
  font-size: 18px;
  display: none;
}
#unity-fullscreen-button {
  cursor: pointer;
  float: right;
  width: 38px;
  height: 38px;
  background: url("fullscreen-button.png") no-repeat center;
}
#unity-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: white;
  padding: 10px;
  display: none;
}
.header {
  display: flex;
  justify-content: center;
}
.logo {
  position: fixed;
  top: 5%;
}
.Logo-taille {
  width: 67pc;
}
.saiyan {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.Goku {
  position: fixed;
  bottom: -5%;
}
.Vegeta {
  position: fixed;
  bottom: -5%;
  right: 0%;
}
.Link {
  position: fixed;
  bottom: 2%;
}
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.social-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  margin-right: 20px;
}
.title-insta {
  font-size: 17px;
  transition: color 0.3s, cursor 0.3s, font-size 0.3s;
  margin-left: 11px;
  color: black;
  margin-right: 15px;
  font-family: "DBZ", sans-serif;
}
.title-tiktok {
  font-size: 17px;
  transition: color 0.3s, cursor 0.3s, font-size 0.3s;
  margin-right: 15px;
  font-family: "DBZ", sans-serif;
}
.title-soutenir {
  font-size: 17px;
  transition: color 0.3s, cursor 0.3s, font-size 0.3s;
  margin-left: 11px;
  margin-right: 15px;
  font-family: "DBZ", sans-serif;
  color: #efdf2e;
}
.title-instruction {
  font-size: 17px;
  transition: color 0.3s, cursor 0.3s, font-size 0.3s;
  margin-left: 11px;
  margin-right: 15px;
  font-family: "DBZ", sans-serif;
  color: #efdf2e;
}
.text-contour {
  font-size: 34px; /* Réglez la taille de la police selon vos besoins */
  font-weight: bold; /* Si vous souhaitez mettre en gras */
  color: white; /* Couleur du texte */
  -webkit-text-stroke: 2px black; /* Largeur du contour et couleur (pour les navigateurs WebKit) */
  text-stroke: 2px white; /* Largeur du contour et couleur (pour les navigateurs qui prennent en charge la spécification standard) */
}

.title-soutenir:hover,
.title-insta:hover,
.instruction:hover,
.title-tiktok:hover {
  cursor: pointer;
  color: #efdf2e;
  font-size: 37px;
}
.logo-insta {
  height: 25px;
}
.logo-tiktok {
  height: 41px;
}
.logo-tuto {
  height: 33px;
  margin-top: -5px;
}

.unity-canvas {
  width: 900px;
  height: 750px;
}
.footer {
  display: flex;
  justify-content: center;
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  background-image: url("../assets/fondModale.png");
  background-position: center left;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  text-align: center;
  width: 70%;
  height: 64%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.instruction {
  transition: color 0.3s, cursor 0.3s, font-size 0.3s;
  margin-left: 11px;
  color: black;
  margin-right: 15px;
  font-family: "DBZ", sans-serif;
  font-size: 34px; /* Réglez la taille de la police selon vos besoins */
  font-weight: bold; /* Si vous souhaitez mettre en gras */
  color: white; /* Couleur du texte */
  -webkit-text-stroke: 2px black; /* Largeur du contour et couleur (pour les navigateurs WebKit) */
  text-stroke: 2px white;
}
.close-modal {
  font-size: 35px;
  color: white;
  margin-right: 5%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-left: 95%;
  margin-top: 8%;
}
.close-modal:hover {
  cursor: pointer;
}
.regle-modal {
  font-family: "DBZ", sans-serif;
  font-size: 30px;
  color: white;
  margin-top: -36px;
  margin-right: 15pc;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.regle-text {
  font-family: "DBZ", sans-serif;
  font-size: 24px;
  color: white;
  margin-top: 10px;
  margin-right: 15pc;
  width: 65%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; /* Ajoute un contour noir */
}
.control-text {
  font-family: "DBZ", sans-serif;
  font-size: 21px;
  color: white;
  margin-top: 10px;
  margin-right: 15pc;
  width: 60%;
  margin-bottom: 7pc;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; /* Ajoute un contour noir */
}
.control-text2 {
  font-family: "DBZ", sans-serif;
  font-size: 21px;
  color: white;
  margin-top: 10px;
  margin-right: 15pc;
  width: 65%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; /* Ajoute un contour noir */
}
.control-text3 {
  font-family: "DBZ", sans-serif;
  font-size: 21px;
  color: red;
  margin-top: 10px;
  margin-right: 15pc;
  width: 65%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; /* Ajoute un contour noir */
}
.modal-image {
  height: 26%;
  margin-top: -6%;
  margin-right: 16pc;
  margin-bottom: 2%;
}
.picolo-modal {
  position: fixed;
  margin-left: 70%;
  margin-bottom: -17%;
  height: 75%;
}
.credit {
  position: fixed;
  top: 95%;
  bottom: 5%;
  right: 2%;
  color: white;
  font-family: "DBZ", sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; /* Ajoute un contour noir */
}
@media (max-width: 1440px) and (min-width: 1201px) {
  .Goku {
    height: 24pc;
    left: -5%;
  }
  .Vegeta {
    height: 24pc;
    right: -5%;
  }
}

@media (max-width: 1200px) and (min-width: 1024px) {
  body {
    padding: 0;
    margin: 0;
    background-image: url("../assets/fond.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: center;
  }
  .logo {
    display: flex;
    justify-content: center;
  }

  .saiyan {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .Goku {
    height: 24pc;
  }
  .Vegeta {
    height: 24pc;
  }
  .modal-image {
    display: none;
  }
  .control-text2 {
    font-family: "DBZ", sans-serif;
    font-size: 24px;
    color: white;
    margin-top: -72px;
    margin-right: 15pc;
    width: 65%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  .regle-modal {
    font-family: "DBZ", sans-serif;
    font-size: 56px;
    color: white;
    margin-top: -44px;
    margin-right: 15pc;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
    margin-bottom: -1%;
  }

  @media (max-width: 1023px) and (min-width: 769px) {
    .logo {
      display: flex;
      justify-content: center;
    }
    .Logo-taille {
      width: 44pc;
      margin-top: 54px;
    }
    .saiyan {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
    }
    .modal-image {
      display: none;
    }
    .control-text2 {
      font-family: "DBZ", sans-serif;
      font-size: 24px;
      color: white;
      margin-top: -72px;
      margin-right: 15pc;
      width: 65%;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
    }
    .regle-modal {
      font-family: "DBZ", sans-serif;
      font-size: 56px;
      color: white;
      margin-top: -44px;
      margin-right: 15pc;
      font-weight: bold;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
      margin-bottom: -1%;
    }
  }
  @media (min-width: 768px) {
    .Goku {
      display: none;
    }
    .Vegeta {
      display: none;
    }
    .modal-image {
      display: none;
    }
  }
}
